<div style="display: flex;">



  <div id="container" style="width: 60%; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
    <div id="consumidores">
  <h2>Consumidores</h2>
  <label for="numConsumidores">Quantidade de compradores:</label>
  <input type="number" id="numConsumidores" [(ngModel)]="numConsumidores" min="1" max="10" (change)="numConsumidores > 0 && atualizarNomesConsumidores()">
  <div *ngFor="let consumidor of nomesConsumidores; let i = index">
    <input type="text" [(ngModel)]="nomesConsumidores[i].nome" placeholder="Nome do comprador {{ i + 1 }}">
  </div>
</div>

<div id="itens">
  <h2>Itens</h2>
  <div id="itensForm">
    <div *ngFor="let item of itens; let i = index">
      <select [(ngModel)]="itens[i].item">
        <option value="item1">Hamburguer</option>
        <option value="item2">Sobremesa</option>
        <option value="item3">Sanduiche</option>
      </select>
      <input type="number" [(ngModel)]="itens[i].quantidade" placeholder="Quantidade">
      <!-- <input type="text" [(ngModel)]="itens[i].comprador" placeholder="Comprador"> -->
      <select [(ngModel)]="itens[i].comprador">
        <option *ngFor="let consumidor of nomesConsumidores" [ngValue]="consumidor.nome">{{ consumidor.nome }}</option>
      </select>
    </div>
  </div>
  <button (click)="adicionarItem()">Adicionar Item</button>
</div>

<div id="tabela">
  <h2>Tabela de Itens</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th>Comprador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itens; let last = last">
        <td>{{ item.item }}</td>
        <td>{{ item.quantidade }}</td>
        <td>R$ {{ calcularTotalItem(item) }}</td>
        <td>{{ item.comprador }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <span>Total da compra: R$ {{ calcularTotalCompra() }}</span>
  </div>
</div>

<div id="taxa-desconto">
  <h2>Taxa de Entrega e Desconto</h2>
  <div>
    <label for="desconto">Desconto:</label>
    <input type="number" id="desconto" [(ngModel)]="desconto">
  </div>
  <div>
    <label for="taxa-entrega">Taxa de Entrega:</label>
    <input type="number" id="taxa-entrega" [(ngModel)]="taxaEntrega">
  </div>
</div>

<div id="enviar">
  <button (click)="limpar()">Limpar</button>
  <button (click)="enviarDadosParaBackend()">Enviar</button>
</div>
</div>
<div id="resultados" style="width: 40%; padding: 20px;">
  <h2>Resultados</h2>
  <div *ngFor="let resultado of resultados">
    <div>
      <p>Quantidade de compradores: {{ resultado.quantidadeCompradores }}</p>
      <p *ngFor="let comprador of resultado.compradores">
        Comprador {{ comprador.numero }}: {{ comprador.itens.join(', ') }};
      </p>
      <p>Total da compra: {{ resultado.totalCompra }}</p>
      <p>Desconto aplicado: {{ resultado.desconto }}</p>
      <p>Adição de taxa de entrega: {{ resultado.taxaEntrega }}</p>
      <p>Total final: {{ resultado.totalFinal }}</p>
      <p *ngFor="let comprador of resultado.compradores">
        Total comprador {{ comprador.numero }}: {{ comprador.total }};
      </p>
      <p *ngFor="let comprador of resultado.compradores">
        Porcentagem comprador {{ comprador.numero }}: {{ comprador.porcentagem }}%;
      </p>
    </div>
  </div>
</div>
</div>
