
<div id="consumidores">
  <h2>Consumidores</h2>
  <label for="numConsumidores">Quantidade de compradores:</label>
  <input type="number" id="numConsumidores" [(ngModel)]="numConsumidores" min="1" max="10" (change)="numConsumidores > 0 && atualizarNomesConsumidores()">
  <div *ngFor="let consumidor of nomesConsumidores; let i = index">
    <input type="text" [(ngModel)]="nomesConsumidores[i].nome" placeholder="Nome do comprador {{ i + 1 }}">
  </div>
</div>

<div id="itens">
  <h2>Itens</h2>
  <div id="itensForm">
    <div *ngFor="let item of itens; let i = index">
      <select [(ngModel)]="itens[i].item">
        <option value="item1">Hamburguer</option>
        <option value="item2">Sobremesa</option>
        <option value="item3">Sanduiche</option>
      </select>
      <input type="number" [(ngModel)]="itens[i].quantidade" placeholder="Quantidade">
      <input type="text" [(ngModel)]="itens[i].comprador" placeholder="Comprador">
    </div>
  </div>
  <button (click)="adicionarItem()">Adicionar Item</button>
</div>

<div id="tabela">
  <h2>Tabela de Itens</h2>
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th>Comprador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itens; let last = last">
        <td>{{ item.item }}</td>
        <td>{{ item.quantidade }}</td>
        <td>R$ {{ calcularTotalItem(item) }}</td>
        <td>{{ item.comprador }}</td>
        <ng-container *ngIf="last">
          <td colspan="2">Total da compra</td>
          <td>R$ {{ calcularTotalCompra() }}</td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<div id="taxa-desconto">
  <h2>Taxa de Entrega e Desconto</h2>
  <div>
    <label for="desconto">Desconto:</label>
    <input type="number" id="desconto" [(ngModel)]="desconto">
  </div>
  <div>
    <label for="taxa-entrega">Taxa de Entrega:</label>
    <input type="number" id="taxa-entrega" [(ngModel)]="taxaEntrega">
  </div>
</div>

<div id="enviar">
  <button (click)="limpar()">Limpar</button>
  <button (click)="enviar()">Enviar</button>
</div>
